---
layout: layout
---
<style>
  .intro-header .site-heading {
    margin: 50px;
  }

  <% if (page["cdn"]==='header-off') {
    %>header.intro-header {
      background-image: url('<%= page["header-img"] || config["post-default-img"]%>');
    }

    <%
  }

  else {
    %>header.intro-header {
      background-image: url('<%- page["header-img"]?(config["cdn-url"]?config["cdn-url"]:"")+page["header-img"]+config["clip-content"] : config["post-default-img"]%>')
    }

    <%
  }

  %>
</style>

<!-- Page Header -->
<!-- <header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
        <div class="site-heading text-center">
          <h1>宁波大千国际物流有限公司</h1>
          <span class="subheading"><%= page.description || config.subtitle || "" %></span>
        </div>
      </div>
    </div>
  </div>
</header> -->

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <br/><br/>
        <img src="<%= config.root + 'img/about_me.jpg' %>" style="width:100%;padding: 40px 0;"/>

      <p>宁波大千国际物流有限公司是一家经国家经贸部批准的一级货运代理公司，主营 海运、空运、海空联运、陆运、整箱、拼箱、散杂货、超限货、冷藏、危险品和普通化工品运输服务
        等进出口业务。遍布全球、优势强劲的国际物流网络，可以提供一站式服务。</p>

      <p>拥有2000多平方米的仓储库；数百辆集装箱车，提供强大的陆运服务；一支经验丰富、服务热情，运作娴熟的专业团队。公司秉承“提供超值服务，让您感动的服务理念，为您提供更好的操作平台，实现共同发展。公司经过多年的业务发展，目前在上海、宁波、深圳、青岛等地均设有办事处和分公司，已与世界各大船公司形成良好的合作关系。能够操作
        日本、韩国、东南亚、中东、欧洲、澳洲、地中海、美国、加拿大、中南美、非洲 等世界各地的货物，目前在很多航线已经与船公司签订协约价格，我们承诺以最合理的价格、最优质的服务来回报您的每一次委托！</p>

      <p>宁波大千国际物流有限公司在海外代理网络广泛而庞大，对世界各主要海港空港都可以签发自己的提单，可提供 预付 到付 DDU DDP到门运输 FOB进口
        等全方位服务。完全满足客户全球灵活多变的运输需要。且与船公司保持业务往来，与多家船公司保持合约运价协议。</p>

      <p>集装箱运输：利用宁波、上海、深圳等知名港口班轮密集的优势，配备内陆拖车、中港拖车和驳船接驳服务，不管船期要求多么紧迫，港通物流都能够为客户提供灵活多样的选择，包括不同的起运港口，如宁波、上海、深圳；不同的船公司，不同的截关期，从周一至周日。
        散货拼箱：宁波大千国际物流有限公司已与多家大型物流公司合作，提供宁波、上海、深圳等至世界主要港口、内陆点的散货拼箱服务。确保客户能够以最低的成本最快的速度安全到达目的地。</p>


      <p>海运进口：宁波驷洋国际物流有限公司可以通过国外代理网络，为国内进口商提供进口海运服务。根据客户要求，在起运港安排集装箱运输，在国内目的港提供整箱提货、拆箱分拨、报关报检、陆空转运等服务。
        航空运输：为客户提供航空急件、普件、快件等需要的相关手续咨询及分流服务业务；提供运费预、到付服务我公司承担相关手续费用；代客提货、代客包装等服务。</p>


      <p>公司将及时掌握业内最新动态，用战略性的眼光，为客户提供更快捷和更经济的航空货物运输服务。
        清关咨询：代落实进出口各环节所需单证，如：3C认证、许可证、检疫证书、关税率、增值税率等协办国内认领的各进出口许可证书。如：3C认证、濒危物种许可证、产地证等。</p>


      <p>清关服务：报关、报检、缴纳各环节税费、拖柜。 合作航空公司：AF 法航，CA国航，MU东航，HU海航，CZ 南航，JL日航，FM上海航空，JI 翡翠航空，BR 长荣航空等。</p>

      <p>
        电话：0574-88138612<br/>
        传真：0574-88023631<br/>
        QQ：763657664<br/>
        邮箱：763657664@qq.com<br/>
        地址：浙江省宁波市鄞州区福明路恒富大厦2号楼509室
      </p>

    </div>
  </div>
</div>